# Python
__pycache__/
*.pyc

# Node
node_modules/
package-lock.json

# Flask
instance/
uploads/
outputs/

# Env
.env
.env.*

# VS Code
.vscode/

# Log files
*.log
log.log
logs/

# OS junk
.DS_Store
Thumbs.db